.cardsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.cardsBlock--header {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 5px 0;
    box-sizing: border-box;

    margin-bottom: 5px;
}

.cardsBlock--title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 20px;
}

.cardsBlock--switchControl {
    display: flex;
    flex-direction: row;

    margin-left: auto;
}

.cardsBlock--content {
    display: flex;
}

.cardsBlock--content.list {
    flex-direction: column;
}

.cardsBlock--content.block {
    flex-direction: row;
    flex-wrap: wrap;
}