.button {
    width: calc((100% - 2*(20px))/ 2);
    margin: 5px 10px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 15px;

    background-color: #3f51b5;
    border: none;

    cursor: pointer;
    padding: unset;

    color: white;

    outline: none;
}

.button.transparent {
    background-color: rgba(0, 0, 0, 0);
    color: #3f51b5;
}

.button.isSmall {
    margin: unset;
    width: auto;
    height: auto;
    font-size: 15px;
}

.button.withPadding {
    padding: 3px 5px;
}

.button.medium {
    height: 30px;
    font-size: 15px;
    margin: unset;
    max-width: 150px;
}

.button.marginTop {
    margin-top: 20px;
}

.button.bold {
    font-weight: bold;
}

.button:hover {
    background-color: #717dbf;
    color: white;
}
