.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    padding: 10px 15px;
    box-sizing: border-box;

    background-color: #a0c3e2;
    margin-bottom: 5px;
}

.card--header {
    display: flex;
    width: calc(100%/4);

    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.card--index {
    color: white;
    font-weight: bold;
}

.card--title {
    width: 100%;
    text-align: center;
}

.card--pointsBlock {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.card--point {
    width: calc(100%/3);
    text-align: center;
}

.card--point:nth-child(n + 4) {
    margin-top: 10px;
}

.card--description {
    margin-top: 10px;
    width: 100%;
}

.card.block {
    width: calc((100% - (2 * 5px))/3);
}

.card.block:nth-child(3n + 2) {
    margin: 0 5px 5px 5px
}

.card.block .card--header {
    width: 100%;
    align-self: end;
    padding-bottom: 10px;
    position: relative;
}

.card.block .card--index {
    position: absolute;
    right: 0;
}

.card.block .card--pointsBlock {
    padding-top: 10px;
}

.card.block .card--title {
    width: unset;
}